Zen of Python https://www.python.org/dev/peps/pep-0020/ Data Types https://docs.python.org/3/library/stdtypes.html

Anaconda installation https://www.anaconda.com/products/individual

# Numbers

In [7]:
a = 10
print(a)
b = a + 10
print(b)

c  = 10 + 2j
print(c + 10)

10
20
(20+2j)

# String

# This section is regarding String
## section 2

In [1]:
s = "Hello World!"
print(s)

Hello World!

Slicing

In [10]:
t = s[:3]
print(t)

Hel

In [11]:
t2 = s[2:5]
print(t2)

llo

In [13]:
t3 = s[::2]
print(t3)

HloWrd

In [2]:
t4 = s[::-1]
print(t4)

!dlroW olleH

In [7]:
t4 = s[5:5:-1]
print(t4)

# while, for  and else

In [16]:
i = 1
while i <10:
    print(i)
    i = i + 1

    
#int i=1
#while(i<10)
#{
#    System.out.println(i);
#    i++;
#}
#print('After the loop',i)

SyntaxError: invalid syntax (<ipython-input-16-8389e59eeca9>, line 7)

In [18]:
i = 1
while i<10:
    print(i)
    i = i + 1
else:
    print('After ',i)

1
2
3
4
5
6
7
8
9
After  10

In [19]:
i = 1
while i<10:
    print(i)
    i+=1
    
    if i==4:
        break
    
else:
    print('After ',i)

1
2
3

In [21]:
for i in range(1,6):
    print(i)
else:
    print('After loop',i)

1
2
3
4
5
After loop 5

In [23]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [24]:
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

In [25]:
lst = [1,2,3,4,66,11,22,"Hello world","Bangalore"]
print(lst)

[1, 2, 3, 4, 66, 11, 22, 'Hello world', 'Bangalore']

In [26]:
for value in lst:
    print(value)

1
2
3
4
66
11
22
Hello world
Bangalore

In [27]:
for i,value in enumerate(lst):
    print(i, value)

0 1
1 2
2 3
3 4
4 66
5 11
6 22
7 Hello world
8 Bangalore

In [34]:
index = 0
while index<len(lst):
    print(index, lst[index])
    index += 1

0 1
1 2
2 3
3 4
4 66
5 11
6 22
7 Hello world
8 Bangalore

In [35]:
cities = ['Bangalore','Delhi','chennai','Pune','mumbai','Jaipur']
pincodes = [560001,11001,20002,30000,100,"222"]

for values in zip(cities,pincodes):
    print(values)

('Bangalore', 560001)
('Delhi', 11001)
('chennai', 20002)
('Pune', 30000)
('mumbai', 100)
('Jaipur', '222')

In [37]:
cities = ['Bangalore','Delhi','chennai','Pune','mumbai','Jaipur']
pincodes = [560001,11001,20002,30000,100,"222"]

print('Reverse of cities', cities[::-1])
print('skip city', cities[::2])

Reverse of cities ['Jaipur', 'mumbai', 'Pune', 'chennai', 'Delhi', 'Bangalore']
skip city ['Bangalore', 'chennai', 'mumbai']

In [38]:
## shallow copy and deep copy

In [39]:
cities = ['Bangalore','Delhi','chennai','Pune','mumbai','Jaipur']
newcities = cities

newcities.append('New york')
cities.append('Culcutta')
print('cities',cities)
print('newcities',newcities)

cities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'New york', 'Culcutta']
newcities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'New york', 'Culcutta']

In [40]:
cities = ['Bangalore','Delhi','chennai','Pune','mumbai','Jaipur']
newcities = cities[:]

newcities.append('New york')
cities.append('Culcutta')
print('cities',cities)
print('newcities',newcities)

cities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'Culcutta']
newcities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'New york']

In [41]:
import copy
cities = ['Bangalore','Delhi','chennai','Pune','mumbai','Jaipur']
newcities = copy.deepcopy(cities)


newcities.append('New york')
cities.append('Culcutta')
print('cities',cities)
print('newcities',newcities)

cities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'Culcutta']
newcities ['Bangalore', 'Delhi', 'chennai', 'Pune', 'mumbai', 'Jaipur', 'New york']

In [42]:
# // **

a = 10 // 3
b = 10 / 3

print(a)
print(b)

3
3.3333333333333335

In [43]:
a = 2 ** 5
print(a)

32

In [45]:
largeVar = 7687687676097874832542532524452654654765765797432198471382472183974
print(largeVar + 1)

7687687676097874832542532524452654654765765797432198471382472183975

In [46]:
num = 1000000
print(num)

1000000

In [48]:
anothernum = 1_000_000
print(anothernum + 1)

1000001

In [49]:
type(largeVar)

int