In [1]:
dict = { 'Bangalore':560001, 'chennai':10000, 'Mumbai':40000 }

In [2]:
print(dict)

{'Bangalore': 560001, 'chennai': 10000, 'Mumbai': 40000}

In [5]:
for k,v in dict.items():
    print(k,v )

Bangalore 560001
chennai 10000
Mumbai 40000

In [6]:
print(dict.keys())

dict_keys(['Bangalore', 'chennai', 'Mumbai'])

In [7]:
print(dict.values())

dict_values([560001, 10000, 40000])

In [8]:
dict[100] = 'hello'

In [9]:
print(dict)

{'Bangalore': 560001, 'chennai': 10000, 'Mumbai': 40000, 100: 'hello'}

In [10]:
## comprehensions

In [11]:
lst = [1,2,3,4,5,6,7,8,9,10]
evenLst = []
for num in lst:
    if num%2==0:
        evenLst.append(num)

In [12]:
print(evenLst)

[2, 4, 6, 8, 10]

In [13]:
evenLst2 = [ num for num in lst if num%2==0 ]
print(evenLst2)

[2, 4, 6, 8, 10]

In [14]:
anotherLst = [ num for num in lst if num<5 ]
print(anotherLst)

[1, 2, 3, 4]

In [16]:
matrix  = [ [x for x in range(1,6)] for y in range(1,10)]

In [17]:
print(matrix)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [1]:
s='hello world'

strLst = [ '*' if c in 'aeiou' else c for c in s] 
print(strLst)

['h', '*', 'l', 'l', '*', ' ', 'w', '*', 'r', 'l', 'd']

In [26]:
def func():
    return 'hello'

In [27]:
func()

'hello'

In [28]:
f1  = func

In [70]:
type(f1)

function

In [29]:
a  = f1()

In [71]:
type(a)

str

In [30]:
print(a)

hello

In [31]:
def func2(a,b,c):
    return a + b + c

In [32]:
print(func2(10,20,30))

60

In [33]:
print(func2('10','20','30'))

102030

In [36]:
def minandmax(a,b,c,d):
    return min(a,b,c,d), max(a,b,c,d),'hello'

In [38]:
x,y,z = minandmax(10,20,30,40)

In [39]:
print(x,y,z)

10 40 hello

In [42]:
minandmax(10)

TypeError: minandmax() missing 3 required positional arguments: 'b', 'c', and 'd'

In [40]:
q,w,e = 10,20,30

In [41]:
print(q,w,e)

10 20 30

In [43]:
#var agrs

def addfunction(*args):
    return sum(args)

In [44]:
print(addfunction(10))

10

In [45]:
print(addfunction(10,22,33,44,55))

164

In [46]:
#var agrs

def addfunction2(*args):
    s =0
    for v in args:
        if v % 2==0:
            s = s  + v
            
    return s

In [47]:
addfunction2(10,22,33,44,55)

76

In [53]:
lst1 = [1,2,3,4]
lst2 = [10,20,30]
lst3 = [100,200,300,400]
lststr = ['a','b','c']
lst4  = [lst1, lst2 , lst3]

In [49]:
print(lst4)

[[1, 2, 3, 4], [10, 20, 30], [100, 200, 300, 400]]

In [51]:
print(lst4[1][0])

10

In [54]:
lst5  = [*lst1, *lst2 , *lststr, *lst3]

print(lst5)

[1, 2, 3, 4, 10, 20, 30, 'a', 'b', 'c', 100, 200, 300, 400]

In [55]:
def anotherFunction(a=10,b=20,c='Hello'):
    print(a+b,c)

In [56]:
anotherFunction()

30 Hello

In [60]:
anotherFunction(a=1000)

1020 Hello

In [61]:
anotherFunction(x=10)

TypeError: anotherFunction() got an unexpected keyword argument 'x'

In [65]:
def examplekwargs(**kwargs):
    if kwargs['city'] == 'Mumbai':
        print('hello mumbai')
    print(kwargs)

In [66]:
examplekwargs(x=100,fruit='mango',city='Bangalore')

{'x': 100, 'fruit': 'mango', 'city': 'Bangalore'}

In [67]:
examplekwargs(x=100,fruit='mango',city='Mumbai')

hello mumbai
{'x': 100, 'fruit': 'mango', 'city': 'Mumbai'}

In [68]:
def mixedfunction(a,*args,**kwargs):
    print('a',a)
    print('*args',args)
    print('**kwargs',kwargs)

In [69]:
mixedfunction(10,20,200,city='mumbai',city2='bangalore')

a 10
*args (20, 200)
**kwargs {'city': 'mumbai', 'city2': 'bangalore'}

In [72]:
m2 = mixedfunction

In [73]:
m2(10,20,200,city='mumbai',city2='bangalore',abcd='abcd')

a 10
*args (20, 200)
**kwargs {'city': 'mumbai', 'city2': 'bangalore', 'abcd': 'abcd'}

In [74]:
type(m2)

function