https://www.python.org/dev/peps/pep-0020/

In [1]:
i = 10
print(i)

10

In [2]:
print( i + 10)

20

In [3]:
i = i + 10

In [4]:
print(i)

20

In [5]:
longvariable = 87893748392748978979872149312894321789

In [6]:
longvariable = longvariable + 1

In [7]:
print(longvariable)

87893748392748978979872149312894321790

In [8]:
s = "Hello World"

In [9]:
t1 = s[1:5]

In [10]:
print(t1)

ello

In [11]:
t2 = s[0:8:2]
print(t2)

HloW

In [12]:
t3 = s[::-1]
print(t3)

dlroW olleH

# while, for, if , else

In [13]:
## this is level 2 header

In [14]:
index = 1
while index <10:
    print(index)
    index = index + 1

1
2
3
4
5
6
7
8
9

In [2]:
index = 1
while index <5:
    print(index)
    index = index + 1
else:
    print("else after while loop",index)

1
2
3
4
else after while loop 5

In [16]:
index = 1
while index <10:
    print(index)
    index = index + 1
   
    
else:
    print("else after while loop",index)

1
2
3
4

In [3]:
for index in range(1,5):
    print(index)
else:
    print("else after for loop",index)

1
2
3
4
else after for loop 4

In [32]:
mylist  = [10,20,30,"Bangalore","Delhi",3.14,100,200]

In [4]:
mylist  = [10,20,"Bangalore","Delhi",3.14]
print(len(mylist))

5

In [25]:
for v in mylist:
    print(v)

10
20
30
Bangalore
Delhi
3.14

In [26]:
print( mylist[0:3] )

[10, 20, 30]

In [27]:
print(mylist[::-1])

[3.14, 'Delhi', 'Bangalore', 30, 20, 10]

In [33]:
#mylist  = [10,20,30,"Bangalore","Delhi",3.14,]
mylist2 = [11,22,33,44,55,66,77,88]

In [34]:
for i,j in zip(mylist,mylist2):
    print(i,j)

10 11
20 22
30 33
Bangalore 44
Delhi 55
3.14 66
100 77
200 88

In [35]:
for i,value in enumerate(mylist):
    print("index:",i," value ", value)

index: 0  value  10
index: 1  value  20
index: 2  value  30
index: 3  value  Bangalore
index: 4  value  Delhi
index: 5  value  3.14
index: 6  value  100
index: 7  value  200

In [37]:
for i,value in enumerate(s):
    print(i,value)

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [39]:
x = [10,20,30,"Bangalore","Delhi",3.14,100,200]
y = x

In [40]:
print(x)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200]

In [41]:
print(y)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200]

In [42]:
x.append("Football")
y.append("Cricket")

In [44]:
print(x)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football', 'Cricket']

In [45]:
print(y)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football', 'Cricket']

In [46]:
x2 = [10,20,30,"Bangalore","Delhi",3.14,100,200]
y2 = [] +  x2

In [47]:
print(x2)
print(y2)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200]
[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200]

In [48]:
x2.append("Football")
y2.append("Cricket")
print(x2)
print(y2)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football']
[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Cricket']

In [50]:
import copy

In [51]:
z2 = copy.deepcopy(x2)

In [52]:
z2.append("golf")
print(z2)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football', 'golf']

In [53]:
z2.append("tennis")
print(z2)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football', 'golf', 'tennis']

In [54]:
print(x2)

[10, 20, 30, 'Bangalore', 'Delhi', 3.14, 100, 200, 'Football']

In [55]:
million = 1000000
print(million)

1000000

In [56]:
million = 1_000_000
million = million + 1
print(million)

1000001

In [57]:
type(million)

int

In [58]:
type(s)

str

In [59]:
type(x2)

list

In [60]:
num = 2 ** 3
print(num)

8

In [61]:
a = 1 / 3
print(a)

0.3333333333333333

In [62]:
b = 10 // 3 
print(b)

3

In [63]:
d1 = { "Bangalore":560001, "Delhi":100001   }

In [64]:
print(d1)

{'Bangalore': 560001, 'Delhi': 100001}

In [65]:
for v in d1:
    print(v,d1[v])

Bangalore 560001
Delhi 100001

In [67]:
for key, value in d1.items():
    print(key, value)

Bangalore 560001
Delhi 100001

In [68]:
pincodes = [5600001, 560022]

d1["Bangalore"] = pincodes

In [69]:
for key, value in d1.items():
    print(key, value)

Bangalore [5600001, 560022]
Delhi 100001

In [71]:
for key in d1.keys():
    print(key)

Bangalore
Delhi

In [72]:
for v2 in d1.values():
    print(v2)

[5600001, 560022]
100001

In [73]:
list_of_values = [12,33,2,11,12,33,44,11,2]

s1 = set(list_of_values)

In [74]:
print(s1)

{33, 2, 11, 12, 44}

In [75]:
s1.add(33)

In [76]:
print(s1)

{33, 2, 11, 12, 44}

In [77]:
s1.add(330)

In [78]:
print(s1)

{33, 2, 330, 11, 12, 44}

In [79]:
t100 = (100,"Raj",12345.67)

In [80]:
type(t100)

tuple

In [81]:
t100 = "Hello"

In [82]:
type(t100)

str

int i = 10;
while(i<=5) {
    System.out.println(i);
}

int i = 10; while(i<=5) {     System.out.println(i); }

In [83]:
def add(a,b):
    return a + b

In [ ]:
int add(int a,int b)
{
    return a + b
}

In [84]:
b = add(10,20)
print(b)

30

In [85]:
c = add("Hello ", "bangalore")
print(c)

Hello bangalore

In [86]:
d = add(10,"Hello")
print(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [87]:
def sum_avg(a,b):
    x = a + b
    y = x / 2
    return x,y

In [88]:
q,w = sum_avg(10,20)

In [89]:
print(q,w)

30 15.0

In [90]:
w = sum_avg(10,20)

In [91]:
print(w)

(30, 15.0)

In [92]:
print(w[0])

30

In [93]:
print(w[1])

15.0

In [95]:
_,avg = sum_avg(10,20)
print(avg)
print(_)

15.0
30

In [98]:
def sum_avg2(a,b):
    x = a + b
    y = x / 2
    return x,y,100

In [100]:
_,_,avg = sum_avg2(10,20)
print(avg)

100